.nt-view-container {
  margin-top:50px;
  height:100%;
  position:relative;
}

.nt-view.ng-enter,
.nt-view.ng-leave {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  bottom:0;
}

.nt-view.ng-enter {
  /* [M3.3] Add the view_enter keyframe here (remember the -webkit one as well) */
  z-index:200;
}

@keyframes view_enter {
  0% { left:100%; }
  30% { left:80%; }
  100% { left:0; }
}

@-webkit-keyframes view_enter {
  0% { left:100%; }
  30% { left:80%; }
  100% { left:0; }
}

.nt-view.ng-leave {
  /* [M3.3] Add the view_leave keyframe here (remember the -webkit one as well) */
}

@keyframes view_leave {
  0% { left:0%; }
  30% { left:20%; }
  100% { left:-100%; }
}

@-webkit-keyframes view_leave {
  0% { left:0%; }
  40% { left:-10%; }
  100% { left:-100%; }
}

/* [M3.2] Create a fade-in CSS transition to fade in each of the video items on the screen */
.repeater.ng-enter {  }
.repeater.ng-enter.ng-enter-active {  }

.repeater.ng-leave {  }
.repeater.ng-leave.ng-leave-active {  }

/* [M3.3] implement a CSS stagger transition animation here for both enter and leave */
.repeater.ng-enter-stagger,
.repeater.ng-leave-stagger {
}
