.nt-view-container {
  margin-top:50px;
  height:100%;
  position:relative;
}

.nt-view.ng-enter,
.nt-view.ng-leave {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  bottom:0;
}

.nt-view.ng-enter {
  -webkit-animation: view_enter 2s;
  animation: view_enter 2s;
  z-index:200;
}

/* implement a keyframe animation here for enter */
@keyframes view_enter { }
@-webkit-keyframes view_enter { }

.nt-view.ng-leave {
  -webkit-animation: view_leave 2s;
  animation: view_leave 2s;
}

/* implement a keyframe animation here for leave */
@keyframes view_leave { }
@-webkit-keyframes view_leave { }

/* implement a CSS transition animation here for enter */
.repeater.ng-enter {}
.repeater.ng-enter.ng-enter-active { }

/* implement a CSS transition animation here for leave */
.repeater.ng-leave { }
.repeater.ng-leave.ng-leave-active { }


/* implement a CSS stagger transition animation here for both enter and leave */
.repeater.ng-enter-stagger,
.repeater.ng-leave-stagger {
}
