<!DOCTYPE html>
<html ng-app="ntApp">
    <head>
        <title>ng-tube</title>
        <link rel="stylesheet" type="text/css" href="./assets/app.css"/>
        <style>
            body {
                padding: 20px;
            }

            .info-box {
                border: 1px solid #31708f;
                padding: 20px;
            }
        </style>
    </head>

    <body ng-init="greeting = true">
        <p class="text-info info-box">
            - Play around with the variables within <strong>ng-init</strong> <br/>
            - See if you can use <strong>ng-click</strong>, <strong>ng-show</strong>, <strong>ng-include</strong> directives also! <br/>
            - Get the form to submit the video into the list of videos.
        </p>

        <h2 ng-if="greeting">
            Hello <strong>ng-tube</strong>!
        </h2>

        <!-- customize the list of videos -->
        <div ng-init="videos=[]">
            <p>
                You have <strong>{{ videos.length }}</strong> videos to watch.
            </p>

            <!-- register a new video upon submission -->
            <form ng-submit="">
                <input type="text" placeholder="Enter a new movie" ng-model="movie"/>
                <input type="submit"/>
            </form>

            <div ng-repeat="video in videos">
                {{ video }}
            </div>
        </div>

        <script src="./assets/app.js"></script>
    </body>
</html>
