<!DOCTYPE html> 
<html data-ng-app="ntApp">
  <head>
    <title>ng-tube</title>
    <style>
body { padding:20px; }
.info-box { border:1px solid #31708f; padding:20px; }
    </style>
  </head>

  <body>
    <p class="text-info info-box">
      - Play around with the variables within <strong>the JS module</strong>. <br />
      - See if you can attach variables on to the <strong>$rootScope</strong> and expose them into the HTML code here. <br />
      - Run tests afterwards with <strong>grunt test</strong>.
    </p>

    <h2 ng-if="greeting">
      Hello <strong>ng-tube v{{ version }}</strong>! 
    </h2>

    <p>
      The date today is <strong>{{ todaysDate }}</strong>.
    </p>

    <p ng-if="isWeekend()">
      And it's the weekend today!
    </p>

    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="scripts/ntApp.js"></script>
  </body>
</html>
