<!DOCTYPE html> 
<html data-ng-app="ntApp">
  <head>
    <title>ng-tube</title>
    <link rel="stylesheet" type="text/css" href="./assets/app.css" />
  </head>

  <body nt-scroll-to-top nt-loading-indicator>
    <div id="wrapper">
      <header class="nt-header">
        <form action="#" class="nt-search-header">
          <section>
            <a href="#/" class="fa fa-home nt-nav-icon"></a>
            <span class="fa fa-search nt-nav-icon nt-search-icon" ng-click="search()"></span>
            <input type="search" ng-model="q" class="nt-search-input" />
          </section>
        </form>
      </header>
      <main id="view-container" class="nt-view-container">
        <div ng-view class="nt-view"></div>
      </main>
    </div>
    <script src="./assets/app.js"></script>
  </body>
</html>
